body {
	margin: 0;
	padding: 0;
}

.list {
	margin: 20px 100px;
	padding: 20px;
	background: #f0f4f7;
	width: 640px;
}

.list__title {
	font-size: 20px;
	font-family: Arial, sans-serif;
	color: #41464a;
	padding: 0 0 10px 25px;
}

.item {
	border: 1px solid #e3e8ec;
}

.item__header {
	padding: 10px;
	background: #f6faff;
	border-bottom: 1px solid #e3e8ec;
	display: flex;
	align-items: center;
}

.item__number {
	width: 30px;
	height: 30px;
	color: #7a91c3;
	border: 1px solid #7a91c3;
	border-radius: 50%;
	margin-right: 15px;
	text-align: center;
	padding-top: 4px;
	box-sizing: border-box;
}

.item__content {
	padding: 20px 40px 20px 20px;
	color: #606062;
	position: relative;
}

.item__button {
	background: url(img/opti4-52.svg) no-repeat;
	width: 40px;
	height: 20px;
	border: 1px solid #858e9d;
	cursor: pointer;
	margin-right: 10px;
	margin-top: 10px;
}

.item__content-wrapper {
	display: flex;
	background: #fff;
	position: relative;
	justify-content: space-between;
}

.item__menu {
	display: none;
	width: 120px;
	height: 75px;
	background: #fff;
	position: absolute;
	top: 38px;
	color: #48494d;
	font-size: 16px;
	border: 2px solid #e6ebef;
	padding: 10px 15px;
	box-sizing: border-box;
	right: -18px;
	z-index: 999;
}

.item__edit {
	padding-bottom: 10px;
}

.item__edit, .item__delete {
	cursor: pointer;
}

.item__edit:hover, .item__delete:hover {
	color: #6a849d;
}

.item__menu--show {
	display: block;
}

.item__input-title {
	padding: 10px;
	background: #f6faff;
	border: none;
	border-bottom: 1px solid #e3e8ec;
	outline: none;
}

.item__textarea {
	border: none;
	outline: none;
	padding: 20px 40px 20px 20px;
	color: #606062;
	resize: vertical;
}

.item__buttons {
	padding: 10px 0;
}

.item__save-button {
	margin-right: 10px;
}

.item .item__inner-wrapper-editable {
	display: none;
	flex-direction: column;
}

.item-editable .item__inner-wrapper-editable {
	display: flex;
}

.item-editable .item__inner-wrapper {
	display: none;
}